<button id="example" type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="" data-content="" data-original-title="A Title" data-trigger="hover" data-html="true">Click to toggle popover</button>

<div id="popover_content_wrapper" style="display: none">
  <a href="#">ololo</a>
  <a href="#">ololo</a>
  <a href="#">ololo</a>
  <a href="#">ololo</a>
</div>