<ul class="nav nav-pills nav-stacked categories-pills">
  <li>
    <a href="#"><i class="icon-angle-right"></i> Cras justo odio</a>
  </li>
  <li>
    <a href="#"><i class="icon-angle-right"></i> Dapibus ac facilisis in</a>
  </li>
  <li>
    <a href="#"><i class="icon-angle-right"></i> Morbi leo risus</a>
  </li>
  <li>
    <a href="#"><i class="icon-angle-right"></i> Porta ac consectetur ac</a>
  </li>
  <li>
    <a href="#"><i class="icon-angle-right"></i> Vestibulum at eros</a>
  </li>
</ul>