<div class="block-header">
  <h4>Полезные ископаемые</h4>
  <hr>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail last-category-element">
      <p><img src="http://placekitten.com/g/200/200"></p>
      <hr>
      <p class="text-center">
        Уголь древесный
      </p>
      <p class="text-center">
        <span class="old-price"> 499 </span>
        <span class="text-success">$ 399</span>
      </p>
    </a>
  </div>
</div>