<strong>Состояние:</strong>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Новые
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    б/у
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Не указано
  </label>
</div>
<hr>
<strong>Цена:</strong>
<br>
<br>
<div class="layout-slider" style="width: 100%">
  <span style="display: inline-block; width: 100%; padding: 0 5px;">
    <input id="Slider1" type="slider" name="price" value="30000.5;60000">
  </span>
</div>
<hr>
<p><strong>Цена:</strong></p>
<form class="row">
  <div class="form-group">
    <div class="col-md-4 col-sm-6 col-xs-6">
      <input type="text" placeholder="от" class="form-control">
    </div>
    <br class="visible-xs visible-sm">
    <br class="visible-xs visible-sm">
    <div class="col-md-4 col-sm-6 col-xs-6">
      <input type="text" placeholder="до" class="form-control">
    </div>
    <button type="submit" class="btn"><i class="icon-chevron-right"></i></button>
  </div>
</form>
<hr>
<p><strong>Бренды:</strong></p>
<div class="row">
  <div class="col-md-10">
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>