<footer role="contentinfo">
  <div class="container">
    <div class="row top-footer">
      <div class="col-md-3 col-sm-6 contacts-f bl">
        <div class="block-header">
          <h5>Контакты</h5>
        </div>
        <ul class="list-unstyled">
          <li><i class="icon-phone-sign"> + (373) 780 57 092</i></li>
          <li><i class="icon-envelope-alt"> magazin@gmail.com</i></li>
        </ul>
      </div>
      <br class="hidden-sm hidden-md hidden-lg">
      <div class="col-md-3 col-sm-6 categories-f bl">
        <div class="block-header">
          <h5>Категории</h5>
        </div>
        <ul class="list-unstyled">
          <li><i class="icon-angle-right"></i> <a href="#">История Земли</a></li>
          <li><i class="icon-angle-right"></i> <a href="#">Возникновение жизни</a></li>
          <li><i class="icon-angle-right"></i> <a href="#">Строение Земли</a></li>
          <li><i class="icon-angle-right"></i> <a href="#">Орбита и вращение Земли</a></li>
          <li><i class="icon-angle-right"></i> <a href="#">Роль в культуре</a></li>
        </ul>
      </div>
      <br class="hidden-sm hidden-md hidden-lg">
      <div class="col-md-3 col-sm-6 tags-f bl">
        <div class="block-header">
          <h5>Теги</h5>
        </div>
        <a href="#"><span class="badge">Земля</span></a>
        <a href="#"><span class="badge">Планта</span></a>
        <a href="#"><span class="badge">Люди</span></a>
        <a href="#"><span class="badge">Жизнь</span></a>
        <a href="#"><span class="badge">Строение</span></a>
        <a href="#"><span class="badge">Зарождение</span></a>
        <a href="#"><span class="badge">Смерть</span></a>
        <a href="#"><span class="badge">Смерть</span></a>
        <a href="#"><span class="badge">Смерть</span></a>
        <a href="#"><span class="badge">Смерть</span></a>
      </div>
      <br class="hidden-sm hidden-md hidden-lg">
      <div class="col-md-3 col-sm-6 posts-f bl">
        <div class="block-header">
          <h5>Посты</h5>
        </div>
        <div class="media">
          <div class="media-object pull-left">
            <i class="icon-twitter"></i>
          </div>
          <div class="media-body">
            <div class="media-heading">
            </div>
            @twitteruser Vivamus elit libero, tempus eu dictum at, suscipit id tellus.
            <h6>about 5 hours ago</h6>
          </div>
        </div>
      </div>
      <br class="hidden-md hidden-lg">
    </div>
  </div>
</footer>