<header role="banner">
  <div class="top-header">
    <div class="container">
      <ul class="list-inline pull-left">
        <li><a href="#" class="icon-vk icon-large"></a></li>
        <li><a href="#" class="icon-google-plus-sign icon-large"></a></li>
        <li><a href="#" class="icon-twitter icon-large"></a></li>
        <li><a href="#" class="icon-facebook icon-large"></a></li>
        <li><a href="#" class="icon-linkedin icon-large"></a></li>
      </ul>
      <span class="pull-right blr"><strong><a href="cart.html"> &nbsp 3 товара <i class="icon-shopping-cart "></i> &nbsp</a> </strong></span>
      <ul class="list-inline pull-right">
        <li><a href="checkout.html" class="icon-arrow-right"> Checkout</a></li>
        <li><a href="my-account.html" class="icon-lock"> My Account</a></li>
      </ul>
    </div>
    <hr>
  </div>
  <div class="middle-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 middle-header-left">
          <h3>Brand</h3>
          <div class="row">
            <div class="input-group col-md-8">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
              </span>
            </div>
          </div>
        </div>
        <br class="hidden-md hidden-lg">
        <div class="col-md-8 middle-header-right">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="media">
                <div class="media-object pull-left">
                  <i class="icon-group"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">7 миллиардов</h4>
                  <span>Жителей (2011 год)</span>
                </div>
              </div>
            </div>
            <br class="hidden-sm hidden-md hidden-lg">
            <div class="col-md-4 col-sm-4">
              <div class="media">
                <div class="media-object pull-left">
                  <i class="icon-leaf"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">8,7 миллионов</h4>
                  <span>Видов существ</span>
                </div>
              </div>
            </div>
            <br class="hidden-sm hidden-md hidden-lg">
            <div class="col-md-4 col-sm-4">
              <div class="media">
                <div class="media-object pull-left">
                  <i class="icon-globe"></i>
                </div>  
                <div class="media-body">
                  <h4 class="media-heading">510 000 ²</h4>
                  <span>Метров поверхности</span>
                </div>
              </div>
            </div>
            <br class="hidden-sm hidden-md hidden-lg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="container visible-lg visible-md hidden-xs hidden-sm">
      <hr class="hr-menu">
      <ul class="nav nav-pills pull-left">
        <li><a href="main.html">Home</a></li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Columns <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="shop-3cols.html">Shop-3cols</a></li>
            <li><a href="shop-4cols.html">Shop-4cols</a></li>
            <li><a href="shop-6cols.html">Shop-6cols</a></li>
            <li><a href="shop-4cols-list.html">Shop-list</a></li>
            <li><a href="grid.html">Grid</a></li>
          </ul>
        </li>
        <li><a href="item.html">Item</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li><a href="checkout.html">Сheckout</a></li>
        <li><a href="my-account.html">My-account</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
      <ul class="nav nav-pills pull-right">     
        <li><a href="#">Link</a></li>
      </ul>
      <hr class="hr-menu-2">
    </div>
    <br class="hidden-md hidden-lg">
    <div class="container visible-xs visible-sm hidden-md hidden-lg">
      <select class="form-control">
        <option><a href="main.html">Home</a></option>
        <option><a href="shop-4cols.html">Shop-4cols</a></option>
        <option><a href="item.html">Item</a></option>
        <option><a href="cart.html">Cart</a></option>
        <option><a href="contacts.html">Contacts</a></option>
        <option><a href="checkout.html">Сheckout</a></option>
        <option><a href="my-account.html">My-account</a></option>
        <option><a href="elements.html">Elements</a></option>
      </select>
    </div>
    <br class="hidden-md hidden-lg">
  </div>
</header>
