<a href="item.html" class="thumbnail item-mini-list-decore visible-md visible-lg">
  <div class="row">
    <div class="col-md-2">
      <img src="http://placekitten.com/g/200/200">
    </div>
    <div class="col-md-3">
      <div class="title-item-mini">
        <p><h4>Skinny Chinos</h4></p>
        <p>
          <span class="old-price"> 499 </span>
          <span class="price text-success">$ 399</span>
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <div class="description-item-mini">
        Земля́ — третья от Солнца планета. Пятая по размеру среди всех планет Солнечной системы. Она является также крупнейшей по диаметру, массе и плотности среди планет земной группы.
      </div>
    </div>
  </div>
</a>
<a href="item.html" class="thumbnail item-mini-list-decore visible-sm visible-xs">
  <div class="row">
    <div class="col-sm-3 col-xs-3">
      <img src="http://placekitten.com/g/200/200">
    </div>
    <div class="col-sm-9 col-xs-9">
      <div class="">
        <span><h4>Skinny Chinos</h4></span>
        <p>
          <span class="old-price"> 499 </span>
          <span class="price text-success">$ 399</span>
        </p>
        <p class="color-black">
          Земля́ — третья от Солнца планета. Пятая по размеру среди всех планет Солнечной системы. Она является также крупнейшей по диаметру, массе и плотности среди планет земной группы.
        </p>
      </div>
    </div>
  </div>
</a>
<br>