<div class="block-header">
  <h4>Последние купленные</h4>
  <hr>
</div>
<div class="row last-content-block-elements">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <%= partial "item-mini" %>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <%= partial "item-mini" %>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <%= partial "item-mini" %>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <%= partial "item-mini" %>
  </div>
</div>
<a href="#"><h5>Показать все товары</h5></a>