<div class="new-content-block">
  <div class="block-header">
    <h4>Новые товары</h4>
    <hr>
  </div>
  <div class="media">
    <a class="pull-left thumbnail" href="#">
      <div class="media-object">
        <div class="img50"><img src="http://placekitten.com/g/50/50"></div>
      </div>
    </a>
    <div class="media-body">
      <div class="media-heading">
        <a href="#">Уголь древесный</a>
      </div>
      $ 4800.89
    </div>
  </div>
  <div class="media">
    <a class="pull-left thumbnail" href="#">
      <div class="media-object">
        <div class="img50"><img src="http://placekitten.com/g/50/50"></div>
      </div>
    </a>
    <div class="media-body">
      <div class="media-heading">
        <a href="#">Холодильник обратный</a>
      </div>
      $ 29.99
    </div>
  </div>
  <div class="media">
    <a class="pull-left thumbnail" href="#">
      <div class="media-object">
        <div class="img50"><img src="http://placekitten.com/g/50/50"></div>
      </div>
    </a>
    <div class="media-body">
      <div class="media-heading">
        <a href="#">Контейнер алюминиевый</a>
      </div>
      $ 189.22
    </div>
  </div>
  <div class="media">
    <a class="pull-left thumbnail" href="#">
      <div class="media-object">
        <div class="img50"><img src="http://placekitten.com/g/50/50"></div>
      </div>
    </a>
    <div class="media-body">
      <div class="media-heading">
        <a href="#">Сварочные электроды</a>
      </div>
      $ 18.11
    </div>
  </div>
  <br>
  <button class="btn btn-sm btn-default"><i class="icon-arrow-right"></i> Смотреть все товары</button>
</div>