<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-9 col-sm-10 col-xs-10 control-label">Товаров на странице:</label>
    <div class="col-md-3 col-sm-2 col-xs-2">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          50  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">50</a></li>
          <li><a href="#">100</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>