<article class="col-md-12">
  <div class="block-header">
    <h4>Выбранные товры</h4>
    <hr>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Номер товара</th>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Цена</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>№ 18-9453</td>
        <td><a herf="#">Ручка дверная, никилерованная</a></td>
        <td>2 шт.</td>
        <td>$ 19.00</td>
        <td><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></td>
      </tr>
      <tr>
        <td>№ 18-9454</td>
        <td><a herf="#">Спирт этиловый 96%</a></td>
        <td>3 л.</td>
        <td>$ 34.10</td>
        <td><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></td>
      </tr>
      <tr>
        <td>№ 18-9455</td>
        <td><a herf="#">Детская каша "Малышь"</a></td>
        <td>1 шт.</td>
        <td>$ 0.95</td>
        <td><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="row visible-md visible-lg">
    <div class="col-md-7">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="icon-remove"></i> Очистить корзину</button>
        <button type="button" class="btn btn-default"><i class="icon-reply"></i> Вернуться к покупкам</button>
      </div>
    </div>
    <div class="col-md-4">
      <table class="table dib">
        <thead>
          <tr>
            <td><strong>Выбрано товаров на сумму</strong></td>
            <td><strong>$ 54.05</strong></td>
            <td></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-default pull-right"><i class="icon-usd"></i> Оплатить</button>
    </div>
  </div>
  <div class="row visible-xs visible-sm">
    <div class="col-sm-6 col-sm-offset-6 pull-right">
      <table class="table dib">
        <thead>
          <tr>
            <td><strong>Выбрано товаров на сумму</strong></td>
            <td><strong>$ 54.05</strong></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-sm-12">
      <button type="button" class="btn btn-default pull-right">Оплатить</button>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default"><i class="icon-remove"></i> Очистить корзину</button>
        <button type="button" class="btn btn-default"><i class="icon-reply"></i> Вернуться к покупкам</button>
      </div>
    </div>
  </div>
</article>