<article class="col-md-12">
  <div class="alert alert-warning alert-dismissable">
    Если у Вас есть аккаунт, <a href="">Авторизируйтесь</a>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
  <form class="row form-horizontal" role="form">
    <div class="col-md-6">
      <div class="block-header">
        <h4>Платежные адреса</h4>
        <hr>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Имя <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
        <label for="inputEmail1" class="col-md-3 control-label">Фамилия <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Компания</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Адрес <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Страна <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Город <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
        <label for="inputEmail1" class="col-md-3 control-label">Индекс <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Телефон <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Email <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <br class="hidden-md hidden-lg">
    </div>

    <div class="col-md-6">
      <div class="block-header">
        <h4>Адреса доставки</h4>
        <hr>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Имя <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
        <label for="inputEmail1" class="col-md-3 control-label">Фамилия <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Компания</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Адрес <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Страна <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Город <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
        <label for="inputEmail1" class="col-md-3 control-label">Индекс <span class="star">*</span></label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Телефон <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Email <span class="star">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="">
        </div>
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-8">
      <div class="block-header">
        <h4>Примечания к заказу</h4>
        <hr>
      </div>
      <p>Add any additional information here such as special delivery requires etc</p>
      <textarea class="form-control" rows="3"></textarea>
      <br class="hidden-md hidden-lg">
    </div>
    <div class="col-md-4">
      <div class="block-header">
        <h4>Способ оплаты</h4>
        <hr>
      </div>
      <p>Выберите способ оплаты</p>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Credit Card
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Direct Bank Transfer
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Paypal
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Money.Yandex
        </label>
      </div>
    </div>
    <br class="hidden-md hidden-lg">
    <br class="hidden-md hidden-lg">
  </form>
  <div class="block-header">
    <h4>История заказов</h4>
    <hr>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Номер товара</th>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>№ 18-9453</td>
        <td><a herf="#">Ручка дверная, никилерованная</a></td>
        <td>2 шт.</td>
        <td>$ 19.00</td>
      </tr>
      <tr>
        <td>№ 18-9454</td>
        <td><a herf="#">Спирт этиловый 96%</a></td>
        <td>3 л.</td>
        <td>$ 34.10</td>
      </tr>
      <tr>
        <td>№ 18-9455</td>
        <td><a herf="#">Детская каша "Малышь"</a></td>
        <td>1 шт.</td>
        <td>$ 0.95</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-md-offset-8">
      <table class="table">
        <thead>
          <tr>
            <td><strong>Куплено товаров на сумму:</strong></td>
            <td><strong>$ 54.05</strong></td>
            <td></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</article>