<article class="col-md-12">
  <div class="block-header">
    <h4>My Account</h4>
    <hr>
  </div>
  <p>
    Hello, username. Welcome to your account area where you can view recent orders, modify your billing details and delivery addresses. If you would like to return a product please see our <a href="#">returns page</a> and then <a href="#">contact us</a>
  </p>
  <br>
  <div class="block-header">
    <h4>Последние покупки</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Номер товара</th>
        <th>Дата</th>
        <th>Адрес доставки</th>
        <th>Цена</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0123</td>
        <td>Август 20, 2013</td>
        <td>Россия, Москва, ул.Ленина 23, кв.12</td>
        <td>$ 256</td>
        <td><a href="#">Доставлено</a></td>
      </tr>
      <tr>
        <td>0124</td>
        <td>Август 20, 2013</td>
        <td>Россия, Москва, ул.Ленина 23, кв.12</td>
        <td>$ 256</td>
        <td><a href="#">Доставлено</a></td>
      </tr>
      <tr>
        <td>0125</td>
        <td>Август 20, 2013</td>
        <td>Россия, Москва, ул.Ленина 23, кв.12</td>
        <td>$ 256</td>
        <td><a href="#">Доставлено</a></td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="block-header">
        <h4>Платежные адреса</h4>
      </div>
      <ul class="list-unstyled">
        <li>Mike Jones</li>
        <li>Flat 907</li>
        <li>Chunking Mansions</li>
        <li>Tsim Sha Tsui</li>
        <li>Hong Kong</li>
        <li>China</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="block-header">
        <h4>Адреса доставки</h4>
      </div>
      <ul class="list-unstyled">
        <li>Mike Jones</li>
        <li>Flat 907</li>
        <li>Chunking Mansions</li>
        <li>Tsim Sha Tsui</li>
        <li>Hong Kong</li>
        <li>China</li>
      </ul>
    </div>
  </div>
</article>